process {
  withName: clean_metadata {
    conda = './environment.yml'  // Use the correct environment.yml path
    cpus = 1
    memory = '2 GB'
    time = '10m'
  }

  withName: region_rf_pipeline {
    conda = './environment.yml'  // Use the correct environment.yml path
    cpus = 4
    memory = '8 GB'
    time = '1h'
  }

  withName: country_rf_pipeline {
    conda = './environment.yml'  // Use the correct environment.yml path
    cpus = 4
    memory = '8 GB'
    time = '1h'
  }

  withName: blast_top10 {
    conda = './environment.yml'  // Use the correct environment.yml path
    cpus = 1
    memory = '2 GB'
    time = '20m'
  }

  withName: blast_top10_country {
    conda = './environment.yml'  // Use the correct environment.yml path
    cpus = 1
    memory = '2 GB'
    time = '20m'
  }
}

trace {
  overwrite = true
}

report {
  overwrite = true
}

params {
  train_metadata     = "data/Training/14-18metadata"
  test_metadata      = "data/Testing/19metadata"
  train_kmers        = "data/Training/14-18kmerdata.txt"
  test_kmers         = "data/Testing/19kmerdata.txt"
  cleaning_script    = "scripts/01_data_cleaning.py"
  rf_script          = "scripts/02_rf_pipeline.py"
  blast_script       = "scripts/03_blast_top10.sh"
  outdir             = "results"
}
