process {
  withName: clean_metadata {
    conda = './environment.yml'
  }
  withName: region_rf_pipeline {
    conda = './environment.yml'
  }
  withName: blast_top10 {
    conda = './environment.yml'
  }
}

trace {
  overwrite = true
}

report {
  overwrite = true
}

params {
  train_kmers  = "data/Training/14-18kmerdata.txt"
  test_kmers   = "data/Testing/19kmerdata.txt"
  rf_script    = "scripts/02_rf_region_pipeline.py"
}
